@import "./nav-bar.settings";
@import "../settings/colors.scss";

@mixin iconSize($size) {
    height: $size;
    width: $size;
}

@mixin iconColor($color) {
    path {
        fill: $color;
    }
}

.navBarContainer {
    background-color: $color-nav-bar-bg;

    .headerIcon {
        @include iconSize($nav-bar-header-icon-size);
        @include iconColor($color-icon);
    }

    .elementIcon {
        @include iconSize($nav-bar-icon-size);
        // #region Disabled styling
        @include iconColor($color-icon-disabled);
        opacity: 0.3;
        // #endregion Disabled styling

        transition: opacity 0.3s;

        &.selected {
            @include iconColor($color-icon);
            @include iconSize(calc($nav-bar-icon-size * $nav-bar-item-active-size-multiplier));

            opacity: 1;
        }
    }
}

.navBarItemContainer {
    border-color: transparent;
    cursor: pointer;

    &.selected {
        border-color: $color-primary-selected;
    }
}
